
<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        Obaju : e-commerce template
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="../css/font-awesome.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/owl.carousel.css" rel="stylesheet">
    <link href="../css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="../css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="../css/custom.css" rel="stylesheet">

    <script src="../js/respond.min.js"></script>

    <link rel="shortcut icon" href="../favicon.png">



</head>

<body>




     <div id="top">
         <div class="container">
             <div class="col-md-6 offer" data-animate="fadeInDown">

             </div>
             <% if(!user) { %>
             <div class="col-md-6" data-animate="fadeInDown">
                 <ul class="menu">
                   <li><a href="../login">Logowanie</a>
                   </li>
                     <li><a href="../signup">Rejestracja</a>
                     </li>
                     <li><a href="../contact">Kontakt</a>
                     </li>

                 </ul>
             </div>
         </div>
         <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
             <div class="modal-dialog modal-sm">

                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                         <h4 class="modal-title" id="Login">Customer login</h4>
                     </div>
                     <div class="modal-body">
                         <form action="customer-orders.html" method="post">
                             <div class="form-group">
                                 <input type="text" class="form-control" id="email-modal" placeholder="email">
                             </div>
                             <div class="form-group">
                                 <input type="password" class="form-control" id="password-modal" placeholder="password">
                             </div>

                             <p class="text-center">
                                 <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                             </p>

                         </form>

                         <p class="text-center text-muted">Not registered yet?</p>
                         <p class="text-center text-muted"><a href="../signup"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>

                     </div>
                 </div>
             </div>
         </div>

     </div>

     <div class="navbar navbar-default yamm" role="navigation" id="navbar">
         <div class="container">
           <div class="navbar-header">

               <a class="navbar-brand home" href="./" data-animate-hover="bounce">
                   <img src="/img/logo.png" alt="Monache Logo" class="hidden-xs">
                   <img src="/img/logo-small.png" alt="Monache Logo" class="visible-xs"><span class="sr-only">Monache - go to homepage</span>
               </a>
               <div class="navbar-buttons">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                       <span class="sr-only">Toggle navigation</span>
                       <i class="fa fa-align-justify"></i>
                   </button>
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                       <span class="sr-only">Toggle search</span>
                       <i class="fa fa-search"></i>
                   </button>
                   <a class="btn btn-default navbar-toggle" href="/basket.html">
                       <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">koszyk jest pusty</span>
                   </a>
               </div>
           </div>
             <!--/.navbar-header -->

             <div class="navbar-collapse collapse" id="navigation">

                 <ul class="nav navbar-nav navbar-left">
                     <li class="active"><a href=".../">Głowna</a>
                     </li>
                     <li class="dropdown yamm-fw">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Kategorie <b class="caret"></b></a>
                         <ul class="dropdown-menu">

                             <li>
                                 <div class="yamm-content">
                                     <div class="row">
                                         <div class="col-sm-3">
                                          <ul>
                                            <ul>
    <li><a href="../kolczyki"><%= categories[0].name %></a></li>
    </ul>
    <ul>
    <li><a href="../bransoletki"><%= categories[1].name %></a></li>
    </ul>
    <ul>
    <li><a href="../wisiorki"><%= categories[2].name %></a></li>
    </ul>
    <ul>
    <li><a href="../komplety"><%= categories[3].name %></a></li>
    </ul>
    <ul>
    <li><a href="../inne"><%= categories[4].name %></a></li>
    </ul>
                                          </ul>
                                         <ul>

                                        </div>

                                         <div class="col-sm-3">
                                             <div class="banner">
                                                 <a href="#">
                                                     <img src="../img/banner.jpg" class="img img-responsive" alt="">
                                                 </a>
                                             </div>

                                         </div>
                                     </div>
                                 </div>

                             </li>
                         </ul>
                     </li>


             </div>
             <!--/.nav-collapse -->

             <div class="navbar-buttons">

                 <div class="navbar-collapse collapse right" id="basket-overview">
                     <a href="basket.html" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">3 produkty w koszyku</span></a>
                 </div>
                 <!--/.nav-collapse -->

                 <div class="navbar-collapse collapse right" id="search-not-mobile">
                     <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                         <span class="sr-only">Toggle search</span>
                         <i class="fa fa-search"></i>
                     </button>
                 </div>

             </div>

             <div class="collapse clearfix" id="search">

                 <form class="navbar-form" method post action="/search">
                     <div class="form-group">
                         <input type="text" name="q" class="form-control" placeholder="Wpisz nazwe produktu">


      <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>


                     </div>
                 </form>

             </div>
             <!--/.nav-collapse -->

         </div>
         <!-- /.container -->
     </div>

     <% } else { %>
               <div class="col-md-6" data-animate="fadeInDown">
                   <ul class="menu">
                       <li><a  data-toggle="modal" href="../profile"><%=user.profile.name %></a>
                       </li>

                       <li><a href="../logout">Wylogowanie</a>
                       </li>
                   </ul>
               </div>
           </div>
           <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
               <div class="modal-dialog modal-sm">

                   <div class="modal-content">
                       <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                           <h4 class="modal-title" id="Login">Customer login</h4>
                       </div>
                       <div class="modal-body">
                           <form action="customer-orders.html" method="post">
                               <div class="form-group">
                                   <input type="text" class="form-control" id="email-modal" placeholder="email">
                               </div>
                               <div class="form-group">
                                   <input type="password" class="form-control" id="password-modal" placeholder="password">
                               </div>

                               <p class="text-center">
                                   <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                               </p>

                           </form>

                           <p class="text-center text-muted">Not registered yet?</p>
                           <p class="text-center text-muted"><a href="../signup"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>

                       </div>
                   </div>
               </div>
           </div>

       </div>
       <div class="navbar navbar-default yamm" role="navigation" id="navbar">
           <div class="container">
             <div class="navbar-header">

                 <a class="navbar-brand home" href="./" data-animate-hover="bounce">
                     <img src="/img/logo.png" alt="Monache Logo" class="hidden-xs">
                     <img src="/img/logo-small.png" alt="Monache Logo" class="visible-xs"><span class="sr-only">Monache - go to homepage</span>
                 </a>
                 <div class="navbar-buttons">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                         <span class="sr-only">Toggle navigation</span>
                         <i class="fa fa-align-justify"></i>
                     </button>
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                         <span class="sr-only">Toggle search</span>
                         <i class="fa fa-search"></i>
                     </button>
                     <a class="btn btn-default navbar-toggle" href="/basket.html">
                         <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">koszyk jest pusty</span>
                     </a>
                 </div>
             </div>
               <!--/.navbar-header -->

               <div class="navbar-collapse collapse" id="navigation">

                   <ul class="nav navbar-nav navbar-left">
                       <li class="active"><a href=".../">Głowna</a>
                       </li>
                       <li class="dropdown yamm-fw">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Kategorie <b class="caret"></b></a>
                           <ul class="dropdown-menu">

                               <li>
                                   <div class="yamm-content">
                                       <div class="row">
                                           <div class="col-sm-3">
                                             <ul>
     <li><a href="../kolczyki"><%= categories[0].name %></a></li>
     </ul>
     <ul>
     <li><a href="../bransoletki"><%= categories[1].name %></a></li>
     </ul>
     <ul>
     <li><a href="../wisiorki"><%= categories[2].name %></a></li>
     </ul>
     <ul>
     <li><a href="../komplety"><%= categories[3].name %></a></li>
     </ul>
     <ul>
     <li><a href="../inne"><%= categories[4].name %></a></li>
     </ul>
                                           <ul>

                                          </div>

                                           <div class="col-sm-3">
                                               <div class="banner">
                                                   <a href="#">
                                                       <img src="../img/banner.jpg" class="img img-responsive" alt="">
                                                   </a>
                                               </div>

                                           </div>
                                       </div>
                                   </div>

                               </li>
                           </ul>
                       </li>


               </div>
               <!--/.nav-collapse -->

               <div class="navbar-buttons">

                   <div class="navbar-collapse collapse right" id="basket-overview">
                       <a href="basket.html" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">3 produkty w koszyku</span></a>
                   </div>
                   <!--/.nav-collapse -->

                   <div class="navbar-collapse collapse right" id="search-not-mobile">
                       <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                           <span class="sr-only">Toggle search</span>
                           <i class="fa fa-search"></i>
                       </button>
                   </div>

               </div>

               <div class="collapse clearfix" id="search">

                   <form class="navbar-form" method post action="/search">
                       <div class="form-group">
                           <input type="text" name="q" class="form-control" placeholder="Wpisz nazwe produktu">


        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>


                       </div>
                   </form>

               </div>
               <!--/.nav-collapse -->

           </div>
           <!-- /.container -->
       </div>

       <% } %>




    <div id="all">

        <div id="content">
            <div class="container">

              <div class="col-md-12">
                  <ul class="breadcrumb">
                      <li><a href="/">Home</a>
                      </li>
                      <li><a href="/bransoletki">Bransoletki</a>
                      </li>
                      <li><a href="/bransoletka1">Bransoletka1</a>


              </div>

              <div class="col-md-3">
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Categories</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked category-menu">
                          <li><a href="../kolczyki"><%= categories[0].name %></a></li>
                          </ul>
                          <ul>
                          <li><a href="../bransoletki"><%= categories[1].name %></a></li>
                          </ul>
                          <ul>
                          <li><a href="../wisiorki"><%= categories[2].name %></a></li>
                          </ul>
                          <ul>
                          <li><a href="../komplety"><%= categories[3].name %></a></li>
                          </ul>
                          <ul>
                          <li><a href="../inne"><%= categories[4].name %></a></li>
                          </ul>
                        </ul>

                    </div>

             </div>




                    <div class="banner">
                        <a href="#">
                            <img src="../img/banner.jpg" alt="sales 2014" class="img-responsive">
                        </a>
                    </div>
                </div>

                <div class="col-md-9">

                    <div class="row" id="productMain">
                        <div class="col-sm-6">
                            <div id="mainImage">
                                <img src="<%= product.image %>" alt="" class="img-responsive">
                            </div>

                            <!-- <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div> -->
                            <!-- /.ribbon -->

                            <!-- <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div> -->
                            <!-- /.ribbon -->

                        </div>
                        <div class="col-sm-6">
                            <div class="box">
                                <h1 class="text-center"><%= product.name %></h1>
                                <p class="goToDescription"><a href="#details" class="scroll-to">Scroll to product details, material & care and sizing</a>
                                </p>
                                <p class="price"><%= product.price %> zł</p>

                                <p class="text-center buttons">
                                    <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Dodaj do koszyka</a>

                                </p>


                            </div>

                            <div class="row" id="thumbs">
                                <div class="col-xs-4">
                                    <a href="<%= product.image %>" class="thumb">
                                        <img src="<%= product.image %>" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="<%= product.image2 %>" class="thumb">
                                        <img src="<%= product.image2%>" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="<%= product.image3 %>" class="thumb">
                                        <img src="<%= product.image3 %>" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="box" id="details">
                        <p>
                            <h4>Opis produktu</h4>
                            <p><%= product.about %></p>
                            <h4>Material & care</h4>
                            <ul>
                                <li>Polyester</li>
                                <li>Machine wash</li>
                            </ul>
                            <h4>Size & Fit</h4>
                            <ul>
                                <li>Regular fit</li>
                                <li>The model (height 5'8" and chest 33") is wearing a size S</li>
                            </ul>

                            <blockquote>
                                <p><em>Define style this season with Armani's new range of trendy tops, crafted with intricate details. Create a chic statement look by teaming this lace number with skinny jeans and pumps.</em>
                                </p>
                            </blockquote>

                            <hr>
                            <div class="social">
                                <h4>Pokaz swoim znajomym</h4>
                                <p>
                                    <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                                </p>
                            </div>
                    </div>


                        </div>

                    </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div id="footer" data-animate="fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h4>Strony</h4>

                        <ul>
                            <li><a href="text.html">O nas</a>
                            </li>
                            <li><a href="text.html">Warunki</a>
                            </li>
                            <li><a href="faq.html">FAQ</a>
                            </li>
                            <li><a href="contact">Kontakt</a>
                            </li>
                        </ul>

                        <hr>

                        <h4>Panel wyboru</h4>

                        <ul>
                            <li><a href="#" data-toggle="modal" data-target="#login-modal">Zaloguj się</a>
                            </li>
                            <li><a href="../signup">Załóż konto</a>
                            </li>
                        </ul>

                        <hr class="hidden-md hidden-lg hidden-sm">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

                        <h4>Najpopularniejsze kategorie</h4>

                        <li><a href="../kolczyki">
                           <h5 data-toggle="modal" href="kolczyki"><%=categories[0].name %></h5>
                        </a></li>
                        <li><a href="../bransoletki">
                           <h5 data-toggle="modal" href="bransoletki"><%=categories[1].name %></h5>
                        </a></li>
                        <li><a href="../inne">
                           <h5 data-toggle="modal" href="inne"><%=categories[4].name %></h5>
                        </a></li>





                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

                        <h4>Gdzie nas znaleść</h4>

                        <p><strong>Monache z o.o.</strong>
                            <br>asdasdsa
                            <br>asdas
                            <br>4asdas
                            <br>asdas
                            <br>
                            <strong>Polsza</strong>
                        </p>

                        <a href="/contact">Strona do kontaktu z nami</a>

                        <hr class="hidden-md hidden-lg">

                    </div>

                        </form>

                        <hr>

                        <h4>Zostań w kontakcie</h4>

                        <p class="social">
                            <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                        </p>


                    </div>

                </div>


            </div>


        <div id="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p class="pull-left">© Damian Jąkalski.</p>

                </div>

                </div>
            </div>
        </div>



        </div>



    <script src="../js/jquery-1.11.0.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.cookie.js"></script>
    <script src="../js/waypoints.min.js"></script>
    <script src="../js/modernizr.js"></script>
    <script src="../js/bootstrap-hover-dropdown.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/front.js"></script>






</body>
